
body {
    font-family: Verdana;
    background-color: Black;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: White;
}

h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: White;
}

p {
    text-align: center;
    font-size: 21px;
    color: Gray;
}

.item {
  text-align: center;
}

.download a {
    font-size: 16px;
    color: Aquamarine;
}

#copyright {
    text-align: right;
}
